# Dependency directories
node_modules/

# Local configuration files
.env
.env.local

# Operating system files
.DS_Store
Thumbs.db

# JetBrains and VS Code folders
.idea/
.vscode/

# Logs and system generated
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/
*.log
